*{
    direction: rtl;
}

.language {
    margin-right: 20px;
}

.subscribe-mail input[type="email"] {
    width: 75%;
    border-radius: 0px 4px 4px 0px;
    outline: 0;
    border: 0;
    height: 44px;
    padding: 8px;
}
.subscribe-mail input[type="submit"] {
    transform: translateX(10px);
    border-radius: 4px 0px 0px 4px;
}

.number-code > div > input:not(:first-child) {
    margin-right: calc(8px * 2);
  }
  .carousel-caption p{
    text-align: right;
  }
  .forget-password{
    text-align: left;
  }

  #togglePassword{
    margin-right: -30px;
    cursor: pointer;
}